html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css")
    style
      include email-styles.css
  body
    block content