html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css")
    style
      include email-styles.css
  body
    #wrapper
      #container
        #header
          span
            img(src="http://bswank.me/logo.png")
        #body
          block content
        #post-footer
          p
            small This email was triggered by an action on your account. Manage your transactional email settings from your #[a(href="https://litshareapp.com") account].