extends email-layout

block content
  #wrapper
    #container
      #header
        span LitShare
          i.fa.fa-bookmark-o
      #body
        h1 Hey, there!
        p Sounds like you're having a little password trouble. No worries! Here's a reset link for you! Just so you know, <strong>it's only good for one hour</strong>.
        a.button(href="http://litshareapp.com", target="_blank") Reset Password
        p If you didn't request a password reset, you can safely ignore this email. Feel free to reach out to support@litshareapp.com with any questions.
        p.sig &mdash; The LitShare Team
      #post-footer
        p
          small This email was sent because you requested a password reset. You can adjust your transactional email preferences from your #[a(href="https://litshareapp.com") account].