extends layout

block content
  #wrapper
    .content-header
      h1= title
    .content-body
      .bookSearch
        input.search--input(type="text" name="search")
        .searchResults
              
  script pageVar = '.p-communities';
