extends layout

block content
  .modal-wrapper#forgotPasswordModal
    .modal-container
      .modal
        .modal-header
          span.modal-close
          h2 Forgot your password, eh?
        .modal-body
          form(action="/account/forgot" method="POST")
            label(for="email") Email Address
            input(type="email" name="email")
            p.helper
              small We'll send an email with a link to reset it.
            a
              button(type="submit") Reset Password
            a
              button.ind.ml.cancel(type="button") Cancel
  #wrapper
    .content-header
      h1= title
      .content-menu
        ul
          li
            a#forgotPasswordModal--trigger Forgot Password
    .content-body
      form(action="/login" method="POST")
        label(for="email") Email Address
        input(type="email" name="email")
        label(for="password") Password
        input(type="password" name="password")
        button(type="submit") Log In
                      
  script pageVar = '.p-login';
