extends layout

block modals
  //- #wrapper--modal
    .modal test

block content
  #wrapper
    .content-header
      h1 Testy
    .content-body
      form(action="/testy/5993531eb2028d50dd6c7d77" method="POST")
        button(type="submit") Submit Form
      
